.form_wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  
}

.form {
    width: 400px;
    border: 2px solid rgb(81, 79, 79);
    border-radius: 15px;
    padding: 10px;     
}

input {
    margin-top: 5px;
    margin-bottom: 10px;
}

input:focus { 
    outline: none !important;
    border-color: #ce71b7;
    box-shadow: 0 0 5px #ce71b7;
    border-radius: 2px;
 }

.buttonForm {
    display: flex;
    justify-content: center;
}

.errors {
    color: #d029a6;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
}

